

@media screen and (max-width: 840px) {
    
}

* {
    z-index: 2;
    font-family: -apple-system,'Microsoft Yahei',sans-serif;
    /* font-size: 16px; */
    color: rgb(113, 119, 125);
    box-sizing: border-box;
    /* 火狐 */
    /* Safari 和 欧朋 */
    /* Standard syntax 标准语法(谷歌) */
    /* IE10+ and Edge */
    /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}
html,body {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background: url("../pic/main.webp");
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html::-webkit-scrollbar {
    width: 5px;
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(63, 117, 235);
}
html::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .15);
}
.filter{
    float: top;
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: 1;
}
.filter::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    background: inherit;
    filter: blur(10px);
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    height: 15vw;
    background-color: skyblue;
    background: url("../pic/header.jpg");
    background-position: 0% 45%;
    background-size: cover;
    z-index: 3;
}
.logo {
    margin-left: 10vw;
}
.navList {
    padding: 0;
    margin: 0 10vw 0 0;
}
.navList li {
    display: inline-block;
    color: red;
}

main {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.themePost {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 50vw;
    height: 12vw;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1)
}
.themePost:first-of-type {
    margin-top: 60px;
}
.TPMiniPic {
    height: 9vw;
    width: 16vw;
    border-radius: 2px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1)
}
.TPText {
    width: 25vw;
}

.noticeBoxFixed {
    position: fixed;
    top: 0;
    right: 10vw;
}
.notice {
    right: 10%;
    width: 20vw;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.firstNotice{
    margin-top: 5vw;
}
.notice h4 {
    display: inline-block;
    margin: 0;
    padding: 0 1vw;
    width: 5.5vw;
    color: rgba(0, 0, 0, .7);
    text-align: center;
}
.notice h4::after {
    display: block;
    margin-top: 3%;
    margin-left: -1.3vw;
    width: 6vw;
    border-bottom: 4px solid rgb(65, 65, 230);
    content: "";
    z-index: 99999;
}
.notice p {
    margin: 10px 0 0 0;
    padding: 0 10px;
    word-wrap: break-word;
    word-break: keep-all;
}
.notice p::before {
    margin-top: -13px;
    margin-right: -10px;
    float: right;
    display: block;
    width: 13vw;
    border-top: 2px solid #ccc;
    content: "";
}
.logArea {
    border: 0;
    outline: none;
    resize: none;
}
.notice,.logArea {
    color: rgba(0, 0, 0, .7);
}
.ToTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 2vw !important;
    height: 2vw;
    border-radius: 5px;
}
.ToTop svg {
    margin-top: 3px;
    width: 1.5vw;}
        
footer {
    position: relative;
    bottom: 0;
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 3vw;
    background-color: rgba(255, 255, 255, 0.75);
    align-items: center;
    justify-content: space-around;
    color: rgb(113, 119, 125);
    font-size: 14px;
    box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.1)
}


@media screen and (max-width: 1300px) {
    * {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 950px) {
    * {
        font-size: 12px;
    }
    
}
/* 720之后就隐藏公告吧 */
@media screen and (max-width: 720px) {
    * {
        font-size: 10px;
    }
    
}

@media screen and (max-width: 600px) {
    * {
        font-size: 10px;
    }
    
}
