main {
    width: 85vw;
}
.InPostBox {
    width: 60vw;
    /* height: 80vw; */
    background-color: rgba(255, 255, 255, .7);
    margin-top: 5vw;
    padding: 0 3vw;
}
.postTitle {
    text-align: center;
}
.noticeBoxFixed {
    right: 6vw;
}