<div class="filter"></div>

<main>
    <section>
        <div class="themePost">
            <div>
                <!-- <img src="./pic/main-b2.jpg" class="TPMiniPic"> -->
                <img src="<%- url_for('/pic/main-b2.jpg') %>" class="TPMiniPic">
            </div>
            <div>
                <p class="TPText">这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介</p>
            </div>
        </div>
        <div class="themePost"></div>
        <div class="themePost"></div>
        <div class="themePost"></div>
        <div class="themePost"></div>
    </section>
    <aside class="noticeBox">
        
    </aside>
</main>