<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AY's story</title>
    <%- css('/css/index.css') %>
</head>
<html>
    <!--头部模板 -->
    <%- partial('_partial/header') %>
    <!-- 内容模板 -->
    <%- body %>
    <!-- 尾部模板 -->
    <%- partial('_partial/footer') %>
</html>