<footer>
    <span>&copy; 2023 HiyoriChan All Rights Reserved.</span>
</footer>
<%- js('/js/jquery-3.7.1.min.js') %>
<%- js('/js/index.js') %>
<script>
    $('.noticeBox').load('./notice.html');
</script>