<header>
    <img src="#" class="logo">
    <nav>
        <ul class="navList">
            <li>Q&A</li>
            <li>搜索</li>
            <li>占位</li>
            <li>占位</li>
            <li>占位</li>
        </ul>
    </nav>
</header>